body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAV STYLING */

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid navajowhite;
  padding: 4px;
}

.app > h1 {
  text-align: center;
}

/* FORM STYLING */

input[type="text"] {
  padding:5px;
  margin:8px;
  background-color: peru;
  color:white;
  border:none;
}